<.simple_form for={%{}} phx-change="validate" phx-submit="save">
  <p class="text-slate-700 dark:text-slate-200">
    Every time you click on the button, it increments the following value by 1.
  </p>
  <.input
    field={@form[:value]}
    value={@value}
    disabled
    label="Counter"/>

    <.button type="button" phx-click="inc">Increment counter</.button>
</.simple_form>